<div id="chat-box" class="container-fluid">
  <div class="row justify-content-end">
    <div class="col-md-5 col-xl-3 chat">
      <div class="card bg-dark">
        <ng-container *ngIf="chatUser | async as user; else spinner">
          <div class="card-header msg_head">
            <div class="d-flex bd-highlight">
              <div class="img_cont">
                <img [src]="user.image" class="rounded-circle user_img" />
                <span class="online_icon offline"></span>
              </div>
              <div class="user_info">
                <span>{{ user.name | titlecase }}</span>
                <p>{{ user.messages.length }} Messages</p>
              </div>
            </div>
          </div>
        </ng-container>
        <div class="card-body msg_card_body">
          <ng-container *ngIf="chatUser | async as user; else spinner">
            <ng-container
              *ngFor="let message of user.messages"
              [ngTemplateOutlet]="
                message.sender === 'admin' ? messageRecieved : messageSent
              "
              [ngTemplateOutletContext]="{ user: user, message: message }"
            >
            </ng-container>
            <ng-container
              *ngFor="let message of queuedMessages | async"
              [ngTemplateOutlet]="messageSent"
              [ngTemplateOutletContext]="{
                user: user,
                message: { message: message }
              }"
            ></ng-container>
          </ng-container>
        </div>
        <div class="card-footer">
          <div class="input-group">
            <textarea
              #msg
              class="form-control type_msg"
              name="message"
              placeholder="Type your message"
            ></textarea>
            <div class="input-group-append">
              <button
                (click)="sendMessage(msg.value); msg.value = ''"
                type="button"
                class="btn btn-primary input-group-text send_btn"
              >
                Send &nbsp; <i class="fas fa-location-arrow"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #spinner>
  <div class="d-flex justify-content-center">
    <div class="spinner-grow text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>

<ng-template #messageRecieved let-user="user" let-message="message">
  <div class="d-flex justify-content-start mb-4">
    <div class="img_cont_msg">
      <img
        src="https://www.logolynx.com/images/logolynx/23/23938578fb8d88c02bc59906d12230f3.png"
        class="rounded-circle user_img_msg"
      />
    </div>
    <div class="msg_cotainer">
      {{ message.message }}
      <span class="msg_time">8:40 AM, Today</span>
    </div>
  </div>
</ng-template>

<ng-template #messageSent let-user="user" let-message="message">
  <div class="d-flex justify-content-end mb-4">
    <div class="msg_cotainer_send">
      {{ message.message }}
      <span class="msg_time_send">8:55 AM, Today</span>
    </div>
    <div class="img_cont_msg">
      <img [src]="user.image" class="rounded-circle user_img_msg" />
    </div>
  </div>
</ng-template>
